* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto" sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;

    



}

header{

    background-color: black;
    height: 66px;
    border:black;
    border-radius: 10px;
}

.container{
    Width: 375px;
    background-color:#75727a;
    border-radius: 10px;
    border: black;
    margin: 0 auto;
    margin-top: 100px;
    

}

body{
     
    background-color: #f6fcfc;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    min-height: 120vh;
    margin: 0;

}

h1{


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 18px;
color: #f6fcfc;
border-radius: 10px;
text-align: center;
padding-top: 25px;

}
main{

padding: 24px;

}

label{

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
color: black;
}
select{



background: #FFFFFF;
border: 2px solid black;
border-radius: 10px;
height: 48px;
display: block;
width: 100%;
cursor: pointer;
outline: none;
appearance: none;
padding-left: 16px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
margin-top: 6px;
margin-bottom: 24px;
}

input{

background: #FFFFFF;
border: 2px solid black;
border-radius: 10px;
height: 48px;
display: block;
width: 100%;
outline: none;
padding-left: 16px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
font-size: 18px;
}
button{
    background: black;
    border-radius: 25px;
    height: 48px;
    color:  #e0ffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    border: none;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 36px;

}

button:hover{
    opacity: 0.9;

}
button:active{
    opacity: 0.7;

}
section{

border: 1px solid black;
box-sizing: border-box;
border-radius: 4px;

}
.currency-container{

    text-align: center;
    padding: 10px;
}

.currency-name{

  font-size: 14px;
  color: #777777;

}
.currency-name{

color: black;
font-weight: bold;
font-size: 20px;

}
.arrow-img{
    margin: 15px auto;
    display: block;

}
